:root {
  --background: #07AEEA;
  --background-gradient: linear-gradient(135deg,rgba(7, 174, 234, 1) 0%, rgba(43, 245, 152, 1) 100%);

  --color-dark: #191F37;
  --color-moon-grey: #454B6D;
  --background-dark-gradient: linear-gradient(135deg,rgba(15, 18, 33, 1) 0%, rgba(27, 33, 57, 1) 59%, rgba(69, 75, 109, 1) 82%, rgba(129, 123, 161, 1) 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-dark-gradient);
  
  /*background-image: url("../assets/stars.jpg");
  background-size: 120vh 120vw;
  background-repeat: no-repeat;*/

  min-height: 100vh;
  color: var(--color-dark);

  /* -- Font Import -- */
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.navbar {
  display: flex;

  list-style-type: none;
  border-radius: 24px;
  background-color: var(--color-moon-grey);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  margin: 0;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 0 8px;
}

.navbar li {
  border-radius: 16px;
  margin: 8px 8px;
  background-color: var(--color-dark);
}

.navbar li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
}

.navbar li.active {
  background-color: #B2B8CE;
  color: #191F37;
}

.navbar li.active a{
  color: var(--color-dark);
}

.navbar li a:hover {
  border-radius: 16px;
  background-color: #07aeea77;
}

.main-content {
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  
  border-radius: 16px;
  background-color: aliceblue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  

  width: 90vw;
  max-width: 1000px;
  
  margin: 16px 0;
  padding: 0 16px;
}

.hero {
  overflow: hidden;

  margin: 0 auto;
}

h1 {
  font-size: 56px;
  text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0;
  margin-top: 16px;
}

h1#hero-header {
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
}

h3#quote {
  font-style: italic;
}

/* Projects Page Styling */

.projects {
  /*background-color: aqua;*/
  margin-bottom: 16px;
}

.projects ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  display: flex;
  row-gap: 16px;
  
  width: 90%;
}

.projects li{
  /*background-color: #07AEEA;*/
  width: 100%;
}

.projects li .project-cards {
  display: flex;
  flex-direction: column;

  min-height: 150px;
  min-width: 250px;
  width: 100%;

  row-gap: 12px;

  margin: 4px 0;
  padding: 8px 16px;
  text-align: left;

  background-color: var(--color-dark);
  color: aliceblue;
  border-radius: 24px;

  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.projects li .project-cards h3 {
  margin: 16px 0px;
  padding-left: 2px;
  margin-bottom: 0px;
}

.projects li .project-cards p {
  margin: 0;
}

.projects li .project-cards span {
  margin: 0;
}

.projects li .project-cards a {
  color: aliceblue;
  font-weight: 400;
}

.projects li .project-cards .link{
  margin-top: auto;
  align-self: flex-end;
  padding: 4px 4px;
}

@media (max-width: 768px) {
  .projects ul{
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 22px;
  }

  .main-content {
    padding: 0 24px;
  }

  .projects ul{
    flex-wrap: wrap;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 100px;
  }

  h3 {
    font-size: 26px;
  }

  .main-content {
    padding: 0 32px;
  }

  .projects ul{
    flex-wrap: wrap;
  }
}