{% extends 'base.html' %}
<!--blocker-->

{% block title %} Stephan Mundt | Contact {% endblock %}
<!--blocker-->

{% block scripts %} <script defer src="{{ url_for('static', filename='js/form-submit.js') }}"></script> {% endblock %}
<!--blocker-->

{% block body %}
<div class="main-content">
  <h1>Lets get in Contact!</h1>
  <div class="contact-form">
    <form action="#" method="post">
      <div class="form-subpoint">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
      </div>

      <div class="form-subpoint">
        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" required />
      </div>

      <div class="form-subpoint">
        <label for="message">Message</label>
        <textarea name="message" id="message" required></textarea>
      </div>
      <div class="form-submit">
        <button type="submit">Submit</button>
      </div>
    </form>

    <div id="formFeedback" class="hidden"></div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/form-submit.js') }}"></script>
{% endblock %}
