{% extends 'base.html' %}
<!--blocker-->

{% block title %} Stephan Mundt | Contact {% endblock %}
<!--blocker-->

{% block scripts %}
<script
  defer
  src="{{ url_for('static', filename='js/form-submit.js') }}"
></script>
{% endblock %}
<!--blocker-->

{% block body %}
<div class="main-content">
  <div class="contact-form">
    <h1>Lets get in Contact!</h1>
    <form action="#" method="post">
      <div class="form-subpoint">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
      </div>

      <div class="form-subpoint">
        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" required />
      </div>

      <div class="form-subpoint">
        <label for="message">Message</label>
        <textarea name="message" id="message" required></textarea>
      </div>
      <div class="form-submit">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  <!-- Feedback if Form was submitted successfully -->
  <div id="formFeedback" class="hidden">
    <h1>Thank you for your message!</h1>
    <p>I will get back to you as soon as possible.</p>
  </div>
</div>

<div id="main-content-2" class="main-content hidden">
  <div id="typingGame">
    <h3 class="typing-label">
      While you wait for my response, lets see how fast you can type :)
    </h3>
    <p id="typingTarget" class="typing-target">${sentence}</p>
    <input
      id="typingInput"
      class="typing-input"
      type="text"
      placeholder="Start typing..."
      autocomplete="off"
      spellcheck="false"
    />
    <div id="typingStats" class="typing-stats hidden">
      <div class="stats">
        <span id="wpmResult"></span>
        <span id="timeResult"></span>
      </div>
      <button id="retryBtn" class="typing-retry">Try again</button>
    </div>
  </div>
</div>
{% endblock %}
